.navbar-custom {
    color: #000000;
    background-color: #4eb3d3;
}

.navbar-custom .navbar-header {
    color: #ffffff;
}

.navbar-custom ul>li .dropdown-toggle, .glyphicon, .fa-user-md{
    color: #ffffff;
}

#text a {
     color: #FFFFFF;
}

.navbar-custom ul > li > a:hover,.navbar-custom ul > li > a:focus,.navbar-custom #sidemenu > ul > li > a:focus, .navbar-custom #sidemenu > ul > li > a:focus {
   background:rgba(0 ,0, 0, 0.18); text-shadow:none;

}

.navbar-custom #sidemenu > .navbar-nav {
    background-color: #F5F5F5;
}

.navbar-custom #sidemenu > .navbar-nav > li > a {
    color : black;
}

.navbar-custom #sidemenu > .navbar-nav > li > a:focus, .navbar-custom #sidemenu > .navbar-nav > li > a:hover  {
    color : white;
}


.navbar-custom #sidemenu ul > li > img {
    
    left: 50%;
    margin-left: +60px !important;  /* 50% of your logo width */
    display: block;
}

.navbar-custom #sidemenu ul > li > .username {
    left: 50%;
    margin-left: +53px !important;
    text-align: center;
}

.jumbotron {
    height: 400px;
    background-color:#77d3c4;
    background-image: url(/images/real5.jpg);
     background-repeat: no-repeat;
}

.jumbotron h1, h4 {
    text-align: right;
    color: white;
}

.jumbotron hr {
    float: right;
    width: 60%;
}

#page-wrapper .panel-green {
    color:#77d3c4;
}

#wrapper {
    background-color:#FFFFFF;
}

#mebody {
    background-color:#FFFFFF;
}

.tbnum {
    width: 50px;
}

.tbtitle {
    width: 60%;
}

