<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <font face="나눔바른고딕">반려동물 돌보미 플랫폼 <small>by PC</small></font>
                </h1>
                <div class="jumbotron">
                     <h1><b>내 반려견을 사랑하는 방법</b></h1> 
                     <br>
    <h4>답답한 케이지가 아닌 돌보미의 집에서 당신의 강아지만 돌봐드립니다.
애견호텔보다 이젠 PC에 맡기세요!</h4> 
                    <hr>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-github-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= @d.count %></div>
                                    <div>강아지</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-3">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-github fa-5x"></i>
                                </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= @c.count %></div>
                                    <div>고양이</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
     
      
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


    <!-- jQuery -->
<script src="/js/jquery.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
